/**
* Category List
*/
/**
 * Variables to use over whole less files.
 */
/**
 * Variables to use over whole less files.
 */
/* Global */
/**
 * Mixins
 */
.strong {
  font-weight: bold;
}
.iblock {
  display: inline-block;
}
.pointer {
  cursor: pointer;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.category-list {
  /**
   * Nestable Draggable Handles
   */
}
.category-list .dd-list {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.category-list .dd-list .dd-list {
  padding-left: 30px;
}
.category-list .dd-item,
.category-list .dd-empty,
.category-list .dd-placeholder {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}
.category-list .dd-handle {
  position: absolute;
  display: block;
  background: none;
  border: none;
  width: 19px;
  height: 19px;
  margin: 0;
  left: 21px;
  top: 11px;
  cursor: move;
  padding: 0;
  color: #c6c6c6;
  text-decoration: none;
  font-size: 16px;
  z-index: 1;
}
.category-list .dd-collapse,
.category-list .dd-expand {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.category-list .dd-item > button {
  position: absolute;
  display: block;
  cursor: pointer;
  float: left;
  top: 10px;
  left: 6px;
  width: 13px;
  height: 18px;
  margin: 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  line-height: 1;
  text-align: center;
  color: #c6c6c6;
  outline: none;
  font-weight: normal;
  font-size: 20px;
  z-index: 1;
}
.category-list .dd-item > button:before {
  content: '\f105';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
  font-family: 'FontAwesome';
}
.category-list .dd-item > button[data-action="collapse"]:before {
  content: '\f107';
}
.category-list .dd-placeholder,
.category-list .dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.category-list .dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
.category-list .dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
.category-list .dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}
.category-list .dd-hover > .dd-handle {
  background: #2ea8e5 !important;
}
.category-list .dd3-content {
  position: relative;
  display: block;
  background: white;
  border: none;
  margin-bottom: 10px;
  padding: 12px 15px;
  color: #737373;
  text-decoration: none;
  font-weight: 400;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.category-list .dd3-content .edit-category-box {
  position: absolute;
  background: #FFFFB1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 12px 15px;
  z-index: 1;
}
.category-list .dd3-content .edit-category-box input {
  background: none;
  border: none;
  border-bottom: 1px dotted #44b6ae;
  outline: none;
  width: 100%;
  color: #44b6ae;
  font-size: 16px;
}
.category-list .dd3-content .btn {
  border-radius: 0;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.category-list .dd3-content .btn > i {
  margin-left: 5px;
}
.category-list .dd-dragel > .dd3-item > .dd3-content {
  margin: 0;
}
.category-list .dd3-item > button {
  margin-left: 30px;
}
.category-list h5 {
  color: #44b6ae;
  font-size: 16px;
  margin: 0 0 0 30px;
}
.category-list h5 > input {
  border: 1px solid #ccc;
  border-radius: 0;
  width: 100%;
  height: 23px;
  outline: none;
}
