/** From Metronic material design3 {{{ **/
/** }}} **/
.password-box {
  margin: 0 auto;
  padding: 0;
  text-align: left;
}
.password-box .password-title {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
.page.auth-password .right-menu {
  float: right;
  padding-top: 10px;
}
.page.auth-password .footer {
  position: fixed;
  bottom: 0px;
}
