/** From Metronic material design3 {{{ **/
/** }}} **/
.balance {
  font-size: 18px;
  margin-top: 8px;
}
#date_range {
  width: 260px;
  float: left;
  margin: 0px 2px;
}
.prev-unit,
.next-unit {
  float: left;
  padding: 8px 10px;
  transition: all 0.3s linear;
}
.prev-unit:hover,
.next-unit:hover {
  text-decoration: none;
  background: #ddd;
}
.contract-filter-section {
  padding-left: 340px;
  width: 100%;
}
.contract-filter-section .dropdown-menu .filter-item {
  padding: 5px 10px;
}
.contract-filter-section .dropdown-menu .project-filter {
  font-weight: bold;
  background: #ddd;
}
.contract-filter-section .dropdown-menu .contract-filter {
  padding-left: 30px;
}
.contract-filter-section .btn.selectpicker {
  padding-top: 6px;
  padding-bottom: 6px;
}
.transaction-type-section {
  margin: 10px 0px 20px 0px;
}
.transactions-section table thead th {
  font-weight: bold;
}
.transactions-section table tr.status-available td {
  background: #f5f5f5;
}
.statement-section {
  font-size: 14px;
  margin-top: 50px;
}
.statement-section .statement-content {
  margin-top: 20px;
}
.statement-section .statement-content table {
  width: 100%;
}
.statement-section .statement-content table tr td {
  padding: 10px 8px;
  text-align: right;
  border-bottom: solid 1px #ddd;
}
.statement-section .statement-content table tr td.last {
  border-bottom: none;
}
