@less: '../../../common';

@import '@{less}/_variables.less';
@import '@{less}/_mixins.less';
@import '@{less}/_plugins.less';

.balance {
  font-size: 18px;
  margin-top: 8px;
}

.summary-section {
  margin-bottom: 50px;
  font-size: 16px;
  .charge-action {
    padding-left: 30px;
    padding-right:30px;
  }
}

.transactions-section {
  .section-title {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0px;   
  }
}